<div class="partner-banner">
  <img src="assets/images/icon-shield-compliance.svg" alt="Icône de conformité" class="partner-icon" data-cms="banner.logo.src" data-cms-kind="attr" data-cms-attr="src" data-cms-2="banner.logo.alt" data-cms-2-attr="alt" />
  <div class="partner-copy">
    <span class="partner-label">
      <span class="partner-label-full" data-cms="banner.labelFull">Besoin d'aide pour comprendre la réforme 2026&nbsp;?</span>
      <span class="partner-label-short" data-cms="banner.labelShort">Besoin d'aide pour comprendre la réforme 2026&nbsp;?</span>
    </span>
    <p class="partner-desc" data-cms="banner.pillText">Nos experts analysent la réforme 2026 pour vous. Téléchargez le plan et recevez notre checklist exclusive des erreurs à éviter.</p>
  </div>
  <a class="btn-discover-partner" href="blog.html" data-cms="banner.ctaText" data-cms-2="banner.ctaHref" data-cms-2-attr="href">Voir nos articles</a>
</div>
