<div class="partner-banner">
  <span class="partner-label">
    <span class="partner-label-full">NOTRE PARTENAIRE RECOMMANDÉ POUR LE CONSEIL FISCAL PRO&nbsp;:</span>
    <span class="partner-label-short">PARTENAIRE&nbsp;: Conseil Fiscal Pro</span>
  </span>
  <div class="partner-logo-pill">
    <img src="assets/images/marketing-solution-sass.webp" alt="Marketing Solutions SaaS" class="partner-logo-img" />
    <span>Marketing Solutions<br>SaaS</span>
  </div>
  <button class="btn-discover-partner" type="button">Découvrir</button>
</div>
