<div class="partner-banner">
  <span class="partner-label">
    <span class="partner-label-full" data-cms="banner.labelFull">NOTRE PARTENAIRE RECOMMANDÉ POUR LE CONSEIL FISCAL PRO&nbsp;:</span>
    <span class="partner-label-short" data-cms="banner.labelShort">PARTENAIRE&nbsp;: Conseil Fiscal Pro</span>
  </span>
  <div class="partner-logo-pill">
    <img src="assets/images/marketing-solution-sass.webp" alt="Marketing Solutions SaaS" class="partner-logo-img" data-cms="banner.logo.src" data-cms-kind="attr" data-cms-attr="src" data-cms-2="banner.logo.alt" data-cms-2-attr="alt" />
    <span data-cms="banner.pillText" data-cms-kind="html">Marketing Solutions<br>SaaS</span>
  </div>
  <a class="btn-discover-partner" href="#" target="_blank" rel="noopener sponsored" data-cms="banner.ctaText" data-cms-2="banner.ctaHref" data-cms-2-attr="href">Découvrir</a>
</div>
